<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="monoandroid90" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.CommunityToolkit" version="1.2.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="monoandroid90" />
</packages>